T1 XML/XSD/example.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:complexType name="InfoPersona">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="apellidos" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="datos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleado" type="InfoPersona">
                </xs:element>
                <xs:element name="alumno"></xs:element>
                <xs:element name="socio"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>